/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 1000px;
  background-image: url('../assets/sidebar-background.webp'); /* Path to your background image */
  background-attachment: fixed; /* Fixes the background image in place */
}

.content {
  display: flex;
  flex: 1;
  background-color: #f3e8e879;
  padding: 5px;
  flex-wrap: wrap; /* Hinzugefügt für bessere Reaktionsfähigkeit */
}

/* Neue Media Query für kleinere Bildschirme */
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
}

.resource.highlight-green .resource-amount {
  color: green;
  font-weight: bold;
}

.resource.highlight-red .resource-amount {
  color: red;
  font-weight: bold;
}

.connect-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.connect-button {
  background-color: #45a049;
}

.connect-button:hover {
  background-color: #45a049;
}

/* General notification styles */
.notification-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; /* Display notifications in a column */
  align-items: center;
  z-index: 1000;
  width: 90%; /* Ensures notifications don't stretch across the entire screen */
  flex-wrap: wrap; /* Allows notifications to wrap to the next line if needed */
  justify-content: center; /* Center the notifications horizontally */
  pointer-events: none; /* Prevents the container from blocking other elements */
}

.notification {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 5px 0; /* Add vertical margin between notifications */
  opacity: 0;
  animation: fadeInOut 10s ease-in-out forwards;
  pointer-events: auto; /* Allows interaction with the notification content */
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

/* Research button wird disabled wenn gebäude nicht gebaut wurde */
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
}

/* Military button wird disabled wenn gebäude nicht gebaut wird */
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.5;
}

/* src/components/ResourceCard.css */
.resource-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 100px;
  box-shadow: 0 0 20px rgba(230, 54, 54, 0.966);
  margin: 10px;
  text-align: left;
}
