/* Styles für die Building-Abschnitte */
.buildings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.building-section {
  width: 100%;
  margin-bottom: 20px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left; /* Überschriften linksbündig */
}

.blue-rectangle {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.blue-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

/* "Next Level Information Box" */
.building-info {
  position: absolute;
  top: 40px;
  right: 130px;
  background-color: rgba(0, 0, 0, 0.685);
  padding: 10px;
  border-radius: 10px;
  color: white;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
  width: calc(300px); /* Ensure it fits within the parent */
}

.next-info {
  bottom: 40px;
  top: auto;
}

.overlapping {
  opacity: 0;
}

.green-rectangle {
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 150px; /* Fixed width */
  height: 150px; /* Fixed height */
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.green-image {
  width: 100px; /* Set width of the image to 100px */
  height: 100px; /* Set height of the image to 100px */
  border-radius: 50px;
}

/*Actual Level in a orange box*/
.level {
  background-color: #ffa600e8; /* Red */
  border-radius: 5px;
  color: white;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.circular-images {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 20px 0;
  flex-wrap: wrap;
}

.circular-image-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 15%;
  overflow: hidden;
  border: 2px solid #ccc; /* Optional: Border around the circles */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.circular-image {
  width: 180%;
  height: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 368px) {
  .tooltip {
    display: block; /* Display on smaller screens */
  }
  
  .building-info.current-info {
    display: none; /* Hide on smaller screens */
  }
}
