.buildings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Beispielhafte Padding-Einstellung für den Abstand vom Rand */
  background-color: #ffffffcc;
  border-radius: 10px;
}

/* Building Image */ 
.image-container {
  position: relative;
}

.blue-image {
  background-color: aqua;
  max-width: 100%; /* Bild skaliert sich auf die Containerbreite */
  height: auto;
  border-radius: 10px;
}

.grayscale {
  filter: grayscale(100%);
  opacity: 0.5;
}

@media (min-width: 720px) {
  .blue-rectangle {
    position: sticky;
    top: 70;
    
  }
}

.building-info-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.building-info {
  position: absolute;
  top: 58px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  z-index: 2;
  width: calc(100% - 500px); /* Ensure it fits within the parent */
}

.next-info {
  top: auto;
  bottom: 15px;
  left: 390px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  color: white;
  z-index: 2;
  width: calc(100% - 500px); /* Ensure it fits within the parent */
}

.overlapping {
  opacity: 0;
}

@media screen and (max-width: 1071px) {
  .building-info {
    visibility: hidden;
  }
}

@media screen and (max-width: 1071px) {
  .next-info {
    visibility: visible;
  }
}

.level {
  background-color: #ffa600e8; /* Red */
  border-radius: 5px;
  color: white;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.circular-images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 0;
}

.circular-image-wrapper {
  width: 100px;
  height: 100px;
  margin: 10px; /* Beispielhafte Margin-Einstellung für Abstand zwischen den Bildern */
  /* Weitere Stile für die runden Bilder */
}

.circular-image {
  width: 100%;
  height: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .building-info-container {
    flex-direction: column; /* Stellt die Position wieder auf Spalte für kleinere Bildschirme */
  }
  .building-info {
    width: 100%; /* Nimmt die volle Breite des Bildschirms ein */
    margin-bottom: 10px; /* Abstand zwischen den beiden Boxen */
  }
}

.button-progress {
  background-color: rgba(0, 255, 0, 0.3); /* Green with some transparency */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

button {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* Define the keyframes for the click animation */
@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the click animation to the building images */
.circular-image-wrapper.clicked {
  animation: clickAnimation 0.3s ease-out;
}
