.main-content {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
  justify-content: space-around;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  width: 75%;
}

.main-content-statistic {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
  justify-content: space-around;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px auto;
  text-align: center;
  width: 75%;
}

.statistic {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto multiple lines */
  justify-content: space-around;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  width: 90%;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 45%;
  margin: 10px;
  flex: 1 1 300px; /* Flex properties for responsiveness */
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.production-list, .unit-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.production-item, .unit-item {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.resource-name, .unit-name {
  font-weight: bold;
  color: #007bff;
}

.resource-rate, .unit-count {
  color: #28a745;
}

@media (max-width: 768px) {
  .box {
    width: 100%;
    margin: 10px 0; /* Adjust margin for smaller screens */
  }
}
