/* General styling for the military section */
.military {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blue-rectangle {
  background-color: rgba(235, 227, 227, 0.8); /* Dunkelweißer Hintergrund */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.blue-image {
  width: 80%; /* Bild soll die volle Breite des Containers nutzen */
  height: auto; /* Höhe automatisch anpassen */
  border-radius: 10px;
  position: relative;
  z-index: 1;
}

.unit-info {
  position: absolute;
  top: 40px;
  right: 130px;
  background-color: rgba(0, 0, 0, 0.685);
  padding: 10px;
  border-radius: 10px;
  color: white;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}

.next-info {
  bottom: 40px;
  top: auto;
}

.overlapping {
  opacity: 0;
}

.green-rectangles {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.green-rectangle {
  background-color: rgba(235, 227, 227, 0.8); /* Grün */
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 150px; /* Feste Breite setzen */
  height: 150px; /* Feste Höhe setzen */
}

.green-image {
  width: 100px; /* Breite des Bildes auf 100px setzen */
  height: 100px; /* Höhe des Bildes auf 100px setzen */
  border-radius: 50px;
}

.level {
  background-color: #ffa600e8; /* Rot */
  border-radius: 5px;
  color: white;
  padding: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.circular-images {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
  flex-wrap: wrap; /* Hinzugefügt für bessere Reaktionsfähigkeit */
}

.circular-image-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 15%;
  overflow: hidden;
  border: 2px solid #ccc; /* Optional: Rand um die Kreise */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* Optional: Hintergrundfarbe */
  position: relative;
}

.circular-image {
  width: 180%;
  height: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .tooltip {
    display: block; /* Bei kleineren Bildschirmen anzeigen */
  }
  
  .unit-info.current-info {
    display: none; /* Bei kleineren Bildschirmen ausblenden */
  }
}
