.mini-game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .map-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Verhältnis 16:9 */
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .unit {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  
  .my-unit, .enemy-unit {
    width: 20px; /* Breite der Einheiten */
    height: 20px; /* Höhe der Einheiten */
    border-radius: 50%; /* Macht die Einheiten zu Kreisen */
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Zentriert die Kreise vertikal */
  }
  
  .my-unit {
    background-color: green;
  }
  
  .enemy-unit {
    background-color: red;
  }
  
  .unit .health-bar, .base .health-bar {
    position: absolute;
    top: -10px; /* Position der Gesundheitsleiste über der Einheit/der Basis */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
  
  .unit .health, .base .health {
    height: 100%;
    background-color: rgb(205, 50, 50);
    border-radius: 5px;
  }
  
  .enemy-unit .health {
    background-color: red;
  }
  
  .info-box {
    background-color: yellow;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .info-content {
    background-color: rgba(0, 0, 0, 0.685);
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .attack-button {
    padding: 10px 20px;
    background-color: orange;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  .attack-button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  
  @media screen and (max-width: 768px) {
    .unit {
      width: 15px;
      height: 15px;
    }
  
    .attack-button {
      padding: 8px 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .unit {
      width: 10px;
      height: 10px;
    }
  
    .attack-button {
      padding: 6px 12px;
    }
  }

  .base {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 50px; /* Höhe der Basen */
    border-radius: 5px;
    z-index: 1;
  }
  
  
  .my-base {
    background-color: green;
    left: 0;
  }
  
  .enemy-base {
    background-color: red;
    right: 0;
  }
  