.world {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
  }
  
  .map-section {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left; /* Überschriften linksbündig */
  }
  
  .map-container {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .target {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .info-box {
    border-radius: 10px;
    padding: 20px;
    background-color: yellow;
    border: 2px solid black;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .attack-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orange;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 768px) {
    .map-container {
      padding: 15px;
    }
  
    .target {
      width: 15px;
      height: 15px;
    }
  
    .info-box {
      padding: 15px;
    }
  
    .attack-button {
      padding: 8px 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .map-container {
      padding: 10px;
    }
  
    .target {
      width: 10px;
      height: 10px;
    }
  
    .info-box {
      padding: 10px;
    }
  
    .attack-button {
      padding: 6px 12px;
    }
  }
  